# Binaries
**/bin/
!vendor/bin/premake/
bin-int/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

**/Debug/
**/Release/
**/GAME_1/Debug/
**/GAME_1/Release/
**/resources/